---
layout: default
title: The Site of Jonathan Meyers
---
<div class="card-columns">
    {% for post in site.posts %}
    <div class="card bg-light">
        {% if post.link == "" %}
		<a href="{{site.baseurl}}{{post.url}}">
			<img class="card-img-top img-fluid" src="{{ site.baseurl }}{{ post.image }}" class="image">
		</a>
        <div class="card-block">
            <h4 class="card-title text-xs-center"><a href="{{site.baseurl}}{{post.url}}">{{ post.title }}</a></h4>
            <p class="card-text text-xs-center">{{ post.date | date: "%B %-d, %Y" }}</p>
            <p class="card-text text-xs-center">{{ post.tag }}</p>
        </div>
        {% else %}
		<a href="{{post.link}}">
			<img class="card-img-top img-fluid" src="{{ site.baseurl }}{{ post.image }}" class="image">
		</a>
        <div class="card-block">
            <h4 class="card-title text-xs-center"><a href="{{post.link}}">{{ post.title }}</a></h4>
            <p class="card-text text-xs-center">{{ post.date | date: "%B %-d, %Y" }}</p>
            <p class="card-text text-xs-center">{{ post.tag }}</p>
        </div>
        {% endif %}
    </div>
    {% endfor %}
</div>
